@import "../07_Common/saas/variables";

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: $bgSecondColor;
    padding-bottom: 10px;
}


