
 @import '../../07_Common/saas/variables';

.wrapperAProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    .image {
        height: 350px;
        width: 400px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 10px;
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        &::before {
            position: absolute;
            content: '';
            background-color: $bgSecondColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
    }
}







