
 @import '../../07_Common/saas/variables';
 @import '../../07_Common/saas/mixins';

.wrapperAProject {

    @include flex(space-around,'', wrap);
    flex-direction: row;
    align-content: space-around;
    .image {
        height: 350px;
        width: 400px;
        margin: 10px;
        @include flex(center,flex-end,'');
        padding-bottom: 10px;
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        &::before {
            position: absolute;
            content: '';
            background-color: $bgSecondColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
    }
}







