@import "../07_Common/saas/variables";
@import "../07_Common/saas/mixins";

.main {
  min-height: 100vh;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .presentation {
    width: 100%;
    min-height: 500px;
    @include flex(space-around, center, wrap);
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .text {
      @include text($TextFontFamily, 19px, 30px)
    }

    .photo {
      width: 300px;
      height: 500px;
      background-size: cover;
      background-position: center;
      background-image: url("./../07_Common/images/MyPhoto.jpg");
      position: relative;
      z-index: 1;
      &::before{
        content: '';
        border: double 4px green;
        width: 320px;
        height: 529px;
        position: absolute;
        margin-top: -15px;
        margin-left: 15px;
        z-index: -1;

      }
    }
  }
}







